<div class="card text-white bg-success mb-3" style="width: 18rem;">

{{!-- it would be nice to an image for each --}}
{{!-- <img src="..." class="card-img-top" alt="..."> --}}

  <img src="{{plant_url}}" alt="{{plantname}}" class="card-img-top">

  <div class="card-body">

    <h5 class="card-title">{{plantname}}</h5>

    {{!-- this is placeholder, update once the route and db are finalize! --}}
    <p class="card-text">Zones this grows in: 
    {{#each zones as |zone|}}
    {{zone.zonename}},
    {{else}}
    No zones listed
    {{/each}}
    </p>
    <p class="card-text">Space needed to grow: {{space}}</p>
    {{#each sunshine as |sun|}}
    <p class="card-text">Sunlight required: {{sun.sunshinename}}</p>
    {{/each}}
{{!-- add link back in later if we build out individual plant pages --}}
    {{!-- <a href="/plant/{{id}}" class="btn btn-primary bg-primary">See Details</a> --}}
  </div>
</div>