<div class="card text-white bg-success mb-3" style="width: 18rem;">

{{!-- it would be nice to an image for each --}}
{{!-- <img src="..." class="card-img-top" alt="..."> --}}

  <div class="card-body">
    <h5 class="card-title">{{plantname}}</h5>

    {{!-- this is placeholder, update once the route and db are finalize! --}}
    <p class="card-text">Zones this grows in: {{zones}}</p>
    <p class="card-text">Space needed to grow: {{space}}</p>
    <p class="card-text">Sunlight required: {{sunshine}}</p>
{{!-- add link back in later if we build out individual plant pages --}}
    {{!-- <a href="/plant/{{id}}" class="btn btn-primary bg-primary">See Details</a> --}}
  </div>
</div>